#installbanner
{
  background: #eee;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: #666;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Arial', sans-serif;
  user-select: none;
}

#installbanner div
{
  flex: 1;
}

#installbanner img
{
  height: 3rem;
  width: 3rem;
  display: inline-block;
  float: left;
  border-radius: 0.5rem;
  vertical-align: middle;
  margin-right: 1rem;
}

#installbanner #title
{
  font-size: 1.25rem;
  color: #111;
  display: inline-block;
}

#installbanner svg
{
  fill: #555;
  height: 2rem;
  width: 2rem;
}

@media (prefers-color-scheme: dark) {
  #installbanner
  {
    background: #333;
    color: #aaa;
  }
  #installbanner #title
  {
    color: #fff;
  }
  #installbanner svg
  {
    fill: #aaa;
  }
}
